.category {
    position: absolute;
    z-index: 15;
    padding: 3px 14px;
    border-radius: 100px;
    top: 16px;
    left: 130px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(230, 230, 230);
}