.AdminTitle {
    margin-left: 20px;
    font-size: 35px;
}

.AdminButton {
    width: 100%;
    height: 55px;
    font-size: 19px;
    margin-top: 20px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(38, 233, 158);
    color: white;
}   