.NavbarButtonFrame {
    width: 100%;
    height: 100%;

    input {
        display: none;
    }

    label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 40%;
            filter: invert(0.9);
            transition: 0.5s filter;
        }
    }


    input:checked + label {
        img {
            filter: invert(0.5);
        }
    }
}