.GBL2021Logo {
    font-size: 25px;
    color: rgb(240, 240, 240);
    margin-left: 20px;
    margin-top: 20px;
}

.Logofixed {
    margin: 0px !important;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 98;
}