.DashboardItemFrame {
    width: calc(100% - 60px);
    margin: 0px 30px;
    margin-top: 20px;
    padding-bottom: 20px;

    
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    justify-items: center;
    color: white;
    border-bottom: 1px solid #39be89;

    .CacelButton {
        width: 70px;
        height: 30px;
        border: 0px;
        border-radius: 20px;
        font-size: 15px;
        color: #24af77;
        cursor: pointer;
    }

    .BoothName {
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: normal;
        word-break: break-all;
        -webkit-line-clamp: 1;
    }
}